/third_party/*/
!/third_party/README.md
/third_party/*.zip
/datasets/*/payload/
!/datasets/*/README.md
/results/*/
!/results/README.md
**/build/
*.log
*.pt
*.pth
*.ckpt
.ipynb_checkpoints/
__pycache__/
*.py[cod]
.venv/
.conda/
*.partial
